# Ignore custom cmake directories
bin/

# Ignore generated ANTLR sources
gen/

# Ignore CLion files
cmake-build*/
.idea/

grammar/.antlr/
build/
.vscode/

# Ignore everything in tests/ folder except a few folders and files.
tests/*
!tests/input/
!tests/output/
!tests/VCalcConfig.json